<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Validador de tarjetas de crédito</title>
  <!--Añadiendo color a la barra de navegador que se verá desde versión mobile-->
  <meta name="theme-color" content="#26a69a" />
  <link rel="icon" type="image/png" href="../assets/images/target.png">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>

  <!--header-->
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo text-black">Validatejs</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="../index.html" class="text-black">Inicio</a></li>
        <li><a href="https://github.com/YosseLine/card-validator" class="text-black">GitHub</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="../index.html" class="text-white">Inicio</a></li>
        <li><a href="https://github.com/YosseLine/card-validator" class="">GitHub</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons text-black">menu</i></a>
    </div>
  </nav>
  <section class="container">
    <div class="row">
      <div class="col s12 m12 l12 xl10 offset-xl1">
        <h3>Nombre: Selena Lopez Cespedes Rojas</h3>
        <p>Número de tarjeta: <span>4716242339938263</span></p>
        <p>Fecha de caducidad:<span>12/19</span></p>
        <p>CVV:<span>555</span></p>
      </div>
    </div>

  </section>
  <section class="container-flex-column vh90">
    <div class="container">
      <div class="row">
        <form class="col s12 m12 l12 xl10 offset-xl1">
          <div class="row margin-btm-0">
            <div class="col s12">
              <label for="number-card">Ingrese número de tarjeta</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 margin-top-0">
              <input id="cn" type="number" class="validate" name="cn">
            </div>
          </div>
          <div class="row margin-btm-0">
            <div class="col s12">
              <label for="number-card">Ingrese fecha de expiración. Ejemplo: 03/12</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="exp" type="text" class="validate" name="exp">
            </div>
          </div>
          <div class="row margin-btm-0">
            <div class="col s12">
              <label for="number-card">Ingrese código de validación</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 margin-top-0">
              <input id="cv" type="number" class="validate" name="cv">
            </div>
          </div>
          <div class="row margin-btm-0">
            <div class="col s12">
              <label for="number-card">Ingrese su nombre completo</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 margin-top-0">
              <input id="name" type="text" class="validate" name="name">
            </div>
          </div>
          <div class="row">
            <div class="col s6 offset-s3">
              <a id="btn-validate" class="waves-effect waves-light btn-large col s12" disabled>Validar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- Vínculo de archivos js-->
  <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
