<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Validador de tarjetas de crédito</title>
  <!--Añadiendo color a la barra de navegador que se verá desde versión mobile-->
  <meta name="theme-color" content="#26a69a" />
  <link rel="icon" type="image/png" href="../assets/images/target.png">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>

<body>

  <!--header-->
  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo text-black">Validatejs</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="../index.html" class="text-black">Inicio</a></li>
        <li><a href="https://github.com/YosseLine/card-validator" class="text-black">GitHub</a></li>
      </ul>
      <ul id="nav-mobile" class="side-nav">
        <li><a href="../index.html" class="text-white">Inicio</a></li>
        <li><a href="https://github.com/YosseLine/card-validator" class="">GitHub</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons text-black">menu</i></a>
    </div>
  </nav>
  <section class="container-flex-column">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6 xl6">
          <div class="box-data">
            <div class="row">
              <h5>Prueba la demo con:</h5>
              <div class="col s6">
                <p>Nombre: Juan Sanchez Rodriguez</p>
                <p>Número de tarjeta: <span>6011994186353106</span></p>
                <p>Fecha de caducidad:<span>05/18</span></p>
                <p>CVC:<span>345</span></p>
              </div>
              <div class="col s3">
                <img src="../assets/images/discover-logo.png" class="responsive-img" alt="">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col s6">
                <p>Nombre: Selena Lopez Rojas</p>
                <p>Número de tarjeta: <span>4556110584662263</span></p>
                <p>Fecha de caducidad:<span>12/19</span></p>
                <p>CVC:<span>555</span></p>
              </div>
              <div class="col s3">
                <img src="../assets/images/visa-logo.svg" class="responsive-img" alt="">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col s6">
                <p>Nombre: Yuriko Ramos Velazques</p>
                <p>Número de tarjeta: <span>5206136465795014</span></p>
                <p>Fecha de caducidad:<span>03/18</span></p>
                <p>CVC:<span>005</span></p>
              </div>
              <div class="col s3">
                <img src="../assets/images/MasterCard_Logo.png" class="responsive-img" alt="">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col s6">
                <p>Nombre: Yelina Lauren Caceres</p>
                <p>Número de tarjeta: <span>372087051967187</span></p>
                <p>Fecha de caducidad:<span>05/19</span></p>
                <p>CVC:<span>6784</span></p>
              </div>
              <div class="col s3">
                <img src="../assets/images/amex-logo.svg" class="responsive-img" alt="logo">
              </div>
            </div>
          </div>
        </div>
        <form class="col s12 m6 l6 xl6">
          <div class="row margin-btm-0">
            <div class="col s12">
              <label for="number-card">Ingrese número de tarjeta</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 margin-top-0">
              <input id="cn" type="number" class="validate" name="cn" maxlength="16">
              <span class="alert" style="display:block" id="alertcn">Inserte un numero de tarjeta valida</span>
            </div>
          </div>
          <div class="row margin-btm-0">
            <div class="col s12">
              <label for="number-card">Ingrese fecha de expiración. Ejemplo: 03/12</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="exp" type="text" class="validate" name="exp">
              <span class="alert" style="display:block" id="alertdate">Verifique la fecha de caducidad</span>
            </div>
          </div>
          <div class="row margin-btm-0">
            <div class="col s12">
              <label for="number-card">Ingrese código de validación</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 margin-top-0">
              <input id="cv" type="number" class="validate" name="cv">
              <span class="alert" style="display:block" id="alertcvc">Codigo CVC no valido</span>
            </div>
          </div>
          <div class="row margin-btm-0">
            <div class="col s12">
              <label for="number-card">Ingrese su nombre completo</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 margin-top-0">
              <input id="name" type="text" class="validate" name="name">
              <span class="alert" style="display:block" id="alertname">Verifique su nombre</span>
            </div>
          </div>
          <div class="row">
            <div class="col s6 offset-s3">
              <a id="btn-validate" class="waves-effect waves-light btn-large col s12">Validar</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- Vínculo de archivos js-->
  <script type="text/javascript" src="../vendors/jQuery/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script type="text/javascript" src="../js/index.js"></script>
  <script type="text/javascript" src="../js/data.js"></script>
  <script type="text/javascript" src="../js/app.js"></script>
</body>

</html>
