/*RESETEANDO*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CLASES REUTILIZABLES*/
.margin-btm-0{
  margin-bottom: 0;
}
.margin-top-0{
  margin-top: 0;
}
.text-black{
  color: #fff;
}
.container-flex-column{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.vh90 {
height: 90vh;
}

nav{
  background: #4db6ac;
  color: #fff;
}
nav .brand-logo{
  color: #fff;
}
/*ESTILOS PARA EL FORM*/
form.col.s12{
  background-color: rgba(255,255,255,0.3);
  border: 3px solid #FFF;
  border-radius: 50PX;
  padding: 30px;
}
div.row{
  margin-bottom: 0;
}
label{
  color: #000;
}
input[type=number]:not(.browser-default), input[type=text]:not(.browser-default){
  border-bottom: 1px solid #000;
}

span.alert {
  color: red;
  font-size: 0.85em;
}

.box-data {
  padding: 30px;
  border: 2px solid #10aba7;
  border-radius: 10px;
  margin-top: 30px;
}

@media (min-width: 1200px) {
  body.container-flex-column{
    height: 100vh;
  }
  section div.container{
    width: 90% !important;
  }
}
