/*RESETEANDO*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CLASES REUTILIZABLES*/
.margin-btm-0{
  margin-bottom: 0;
}
.margin-top-0{
  margin-top: 0;
}
.text-black{
  color: #000;
}
.container-flex-column{
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.vh90 {
height: 90vh;
}
/*ESTILOS PARA BODY*/
body{
  background-image: url('https://d39l2hkdp2esp1.cloudfront.net/img/photo/121172/121172_00_2x.jpg?20170515031019');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav{
  background: #FFF;
  color: #000;
}
nav .brand-logo{
  color: #000;
}
/*ESTILOS PARA EL FORM*/
form.col.s12{
  background-color: rgba(255,255,255,0.3);
  border: 3px solid #FFF;
  border-radius: 50PX;
  padding: 30px;
}
div.row{
  margin-bottom: 0;
}
label{
  color: #000;
}
input[type=number]:not(.browser-default), input[type=text]:not(.browser-default){
  border-bottom: 1px solid #000;
}

@media (min-width: 1200px) {
  body.container-flex-column{
    height: 100vh;
  }
  section div.container{
    width: 90% !important;
  }
}
