*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*CLASES REUTILIZABLES*/
.text-black{
  color: #000;
}
.text-white{
  color: #FFF;
}
.margin-btm-2{
  margin-bottom: 2vh;
}
img.example{
  width: 100%;
}
body p{
  font-size: 18px;
}
nav, footer.page-footer{
  color: #000;
  background: #FFF;
}
nav ul a,
nav .brand-logo {
  color: #000;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 10px 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  height: 100%;
}
